{{!--
    includes/footer.hbs

--}}

<footer>
    <div class="fb-grid__container footerContainer">
        <div class="fb-grid__row">
            <div class="fb-grid__col-12">
                <p>© Yens Broothaers</p>
                <a href="disclaimer.html">Disclaimer</a>
                <div class="socialBtns">
                    <a href="https://www.facebook.com/GrafischeendigitalemediaArteveldehogeschool/?ref=br_rs" target="_blank"><img src="assets/images/icons/facebook.png"></a>
                    <a href="https://twitter.com/ArteveldehsGent" target="_blank"><img src="assets/images/icons/twitter.png"></a>
                    <a href="https://www.instagram.com/madebygdm/" target="_blank"><img src="assets/images/icons/instagram.png"></a>
                </div>
            </div>
        </div>
    </div>
    
</footer>