{{!-- pages/index.hbs --}} {{#> layouts/base title="Styleguide | New Media Development | Artevelde University College Ghent"
description="Styleguide for the course Mobile Development I" pathToRoot="../" }} {{#*inline "head-block"}} {{/inline}} {{#*inline
"content-block"}}
<div class="styleguide">
  <div class="fb-grid__container container">
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <h1 class="title">Colors</h1>
        <hr>
      </div>
    </div>
    <div class="fb-grid__row ">
      <div class="fb-grid__col-12 flex">
        <div class="colors">

          <div class="color-container">
            <div class="color color_one"></div>
            <p>#223740</p>
          </div>
          <div class="color-container">
            <div class="color color_two"></div>
            <p>#476674</p>
          </div>
          <div class="color-container">
            <div class="color color_three"></div>
            <p>#7CA2A6</p>
          </div>
        </div>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12 flex">
        <div class="colors">
          <div class="color-container">
            <div class="color color_four"></div>
            <p>#455e88</p>
          </div>
          <div class="color-container">
            <div class="color color_five"></div>
            <p>#F0F0F0</p>
          </div>
          <div class="color-container">
            <div class="color color_six"></div>
            <p>#FFFFFF</p>
          </div>
        </div>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <h1 class="title">Typography</h1>
        <hr>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12 montserrat flex">
        <p>Montserrat</p>
        <h1 class="font light">Aa</h1>
        <h1 class="font regular">Aa</h1>
        <h1 class="font bold">Aa</h1>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12 oxygen flex">
        <p>Oxygen</p>
        <h1 class="font light">Aa</h1>
        <h1 class="font regular">Aa</h1>
        <h1 class="font bold">Aa</h1>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12 roboto flex">
        <p>Roboto</p>
        <h1 class="font light">Aa</h1>
        <h1 class="font regular">Aa</h1>
        <h1 class="font bold">Aa</h1>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <h1 class="title">Buttons</h1>
        <hr>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <div class="buttons">
        <input type="button" class="menuBtn" id="login" value="login">
        <input type="button" class="menuBtn" id="register" value="registreren">
        </div>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <h1 class="title">Icons</h1>
        <hr>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <div class="icon">
          <img src="../assets/images/icons/facebook.png" class="icons">
          <img src="../assets/images/icons/pinterest.png" class="icons">
          <img src="../assets/images/icons/twitter.png" class="icons">
          <img src="../assets/images/icons/ic_remove_red_eye_24px2.png" class="icons">
          <img src="../assets/images/icons/ic_insert_comment_24px.png" class="icons">
        </div>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <h1 class="title">Forms</h1>
        <hr>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <div class="forms">
        <form>
          <input type="text" placeholder="name"><br>
          <input type="text" placeholder="email"><br>
          <textarea name="" id="">Comment</textarea>
        </form>
        </div>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <h1 class="title">Nav bar</h1>
        <hr>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <div class="navbar">
          <ul>
            <li><a href="#">Opleidingen</a></li>
            <li><a href="#">Favorieten</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{/inline}} {{#*inline "scripts-block"}} {{/inline}} {{/layouts/base}}