input {
  width: 300px;
  margin-bottom: 10px;
  height: 25px;
}



input[type=email], input[type=password] {
  width: 290px;
  padding-left: 5px;
}

.name {
  width: 136px;
  padding-left: 5px;
}

.firstname {
  margin-right: 4px;
}

.contactform {
  width: 90%;
  height: 30px;
  padding-left: 10px;
  border: 1px solid $text-color;
  border-radius: 4px;
}

#contactText {
  height: 200px;
  resize: none;
}
