footer {
    height: 100px;
    background-color: $primary-color;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footerContainer {
    width: 80%;
}

footer p {
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

.socialBtns {
    float: right;
    position: relative;
    bottom: 30px;
}

.socialBtns a {
    margin-right: 20px;
}

.socialBtns img {
    width: 9%;
}