{{!-- pages/index.hbs --}}

{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

  {{#*inline "content-block"}}
    <div class="fb-grid__container contact container" id="container">
      <div class="fb-grid__row contactContainer">
          <div class="fb-grid__col-lg-6 fb-grid__col-sm-12">
              <h3>Arteveldehogeschool Campus Mariakerke</h3>
              <p>Industrieweg 32<br>
                9030 Gent-Mariakerke<br>
                +32 9 234 86 00
              </p>
              <form>
                  <input type="text" placeholder="Naam" class="contactform">
                  <input type="text" placeholder="Email" class="contactform">
                  <input type="text" placeholder="Onderwerp" class="contactform">
                  <textarea class="contactform" id="contactText">Boodschap</textarea>
                  <input type="button" value="Contacteren" class="contactBtn">
              </form>
          </div>
          <div class="fb-grid__col-lg-6 fb-grid__col-sm-12">
              <iframe width="600" height="477" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyChnVdbvUCMQTn3MgNwuLQK63csFgGurmo&q=Campus+Mariakerke+Arteveldehogeschool" allowfullscreen>
</iframe>
          </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
  <script src="../assets/js/firebaseconfig.js"></script>
  <script src="../assets/js/main.js"></script>
  {{/inline}}

{{/layouts/base}}
