{{!-- pages/index.hbs --}}

{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

  {{#*inline "content-block"}}
    <div class="fb-grid__container fields_container">
      <div class="fb-grid__row fields">
          <div class="fb-grid__col-12">
              <h1>Crossmedia-ontwerp</h1>
              <p>Logo’s ontwerpen, ideeën uittekenen en vormgeven: spreekt dat je aan? Dan is deze afstudeerrichting zeker iets voor jou.
                Bij Crossmedia-ontwerp staat creatief denken centraal, maar leer je ook om rekening te houden met technische uitvoermogelijkheden. Halfweg het tweede jaar kan je kiezen uit twee trajecten om je nog verder te specialiseren: Graphic Design en Photo Design.</p>             
              <h5>Graphic Design</h5>
              <p>Studenten Graphic Design zijn creatievelingen die origineel en technisch hoogstaand werk willen afleveren. Ze ademen mooi en goed design. We spreken dan onder meer over verpakkingen, reclamedrukwerk, huisstijlen of affiches.
                 Fotografie is als ondersteunend basispakket in het programma opgenomen.</p>
                 <h5>Photo Design</h5>

<p>Studenten Photo Design houden van de creatieve mix van fotografie en vormgeving. Zij willen het perfecte beeld schieten en het vervolgens verwerken in een passende lay-out.  
Fotografie, manuele en digitale vormgeving en typografie zijn de pijlers van deze opleiding.</p>
          </div>
          <div class="fb-grid__row alumni">
            <div class="fb-grid__col-12">
            <h1>Alumni</h1>
            </div>
          <div class="fb-grid__col-lg-6">
            <img src="assets/images/getuigenissen/cmo/lisanevejans.jpg" class="alumnimg">
          </div>
          <div class="fb-grid__col-lg-4">
            <p>Lisa Nevejans</p>
            <p>Oud-student Crossmedia-ontwerp <br> Keuzetraject Graphic Design</p>
            <p class="quote">“Élk vak uit mijn opleiding is toepasbaar in mijn job”</p>
          </div>
          <hr>
          
          <div class="fb-grid__col-lg-6">
            <img src="assets/images/getuigenissen/cmo/170228_valeripotchekailov_10_interview1.jpg" class="alumnimg">
          </div>
          <div class="fb-grid__col-lg-4">
            <p>Zeno Verschaeve</p>
            <p>Oud-student Crossmedia-ontwerp <br> Keuzetraject Graphic Design</p>
            <p class="quote">“Doe vooral wat je graag doet, anders wordt het zo saai!”</p>
          </div>
          </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
  <script src="../assets/js/firebaseconfig.js"></script>
  <script src="../assets/js/main.js"></script>
  {{/inline}}

{{/layouts/base}}
