{{!-- pages/index.hbs --}}

{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

  {{#*inline "content-block"}}
    <div class="fb-grid__container fields_container">
      <div class="fb-grid__row fields">
          <div class="fb-grid__col-12">
              <h1>Grafimediabeleid</h1>
              <p>Ben je gepassioneerd door de impact van print- en multimedia op ons leven? Zoek je een gevarieerde afstudeerrichting die je klaarstoomt voor een job in de media- of grafische sector? Dan is grafimediabeleid ongetwijfeld iets voor jou. Het is een ideale mix tussen creatief ondernemen, innovatieve communicatie en productkennis binnen de sector.</p>             
              <h5>Crossmedia</h5>
              <p>Crossmedia combineert marketing en creatief ondernemen met een flinke dosis kennis over technische print- en multimedia. Je leert luisteren naar de noden van klanten en hen adviseren hoe ze hun mediatoepassingen optimaal kunnen inzetten in commerciële campagnes. Na deze opleiding mag je jezelf een expert in digitale, sociale en printmedia noemen.</p>
                 <h5>Printmedia</h5>
<p>Printmedia zoomt in op de technische aspecten van printproductie en bevindt zich pal op het kruispunt van creativiteit, innovatie en technologie. Als afgestudeerde ligt er ongetwijfeld een kleurrijke job op jou te wachten.</p>
          </div>
          <div class="fb-grid__row alumni">
            <div class="fb-grid__col-12">
            <h1>Alumni</h1>
            </div>
          <div class="fb-grid__col-lg-6">
            <img src="assets/images/getuigenissen/gmb/rutgervandenbroeck.jpg" class="alumnimg">
          </div>
          <div class="fb-grid__col-lg-4">
            <p>Rutger Van Den Broek</p>
            <p>Oud-student grafimediabeleid <br> Keuzetraject Printmedia</p>
            <p class="quote">“Maak jezelf niets wijs. Denk goed na voor je een keuze maakt!”</p>
          </div>
          <hr>
          
          <div class="fb-grid__col-lg-6">
            <img src="assets/images/getuigenissen/gmb/zeno_interview1.jpg" class="alumnimg">
          </div>
          <div class="fb-grid__col-lg-4">
            <p>Zeno Verschaeve</p>
            <p>Oud-student grafimediabeleid <br> Keuzetraject Printmedia</p>
            <p class="quote">“Durf ondernemend te zijn!”</p>
          </div>
          </div>
      </div>
      
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
  <script src="../assets/js/firebaseconfig.js"></script>
  <script src="../assets/js/main.js"></script>
  {{/inline}}

{{/layouts/base}}
