{{!-- pages/index.hbs --}} {{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./"
}} {{#*inline "content-block"}}
<div class="container">
  <div class="fb-grid__row intro">
    <div class="introContainer">
      <div class="fb-grid__col-12">
        <h1>Grafische en digitale media</h1>
      </div>
      <div class="fb-grid__col-12">
        <p class="introText">Grafische communicatie gebeurt via een pijlsnel groeiende waaier aan kanalen in een digitale wereld. Op de mediacampus
          van de Arteveldehogeschool leiden we technisch onderlegde grafische professionals op in
          <a href="crossmedia.html">Graphic Design</a>,
          <a href="crossmedia.html">Photo Design</a>
          of
          <a href="multimedia.html">Audiovisual Design</a>. Voor wie meer gepassioneerd is door code en digitale technologie is er het keuzetraject
          <a href="multimedia.html">New Media Development</a>. De innoverende commerciële breinen kunnen hun creativiteit kwijt in de keuzetrajecten
          <a href="grafimedia.html">Crossmedia</a>
          en
          <a href="grafimedia.html">Printmedia</a>. Meer info over de inhoud van deze afstudeerrichtingen en keuzetrajecten? Neem een kijkje op
          <a href="http://www.arteveldehogeschool.be" target="_blank">www.arteveldehogeschool.be</a><br><br><br>
          Scroll verder naar beneden om de werkstukken te bekijken!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="fb-grid__container index container" id="container">
  <div class="fb-grid__row projectContainer">
  </div>
</div>
{{/inline}} {{#*inline "scripts-block"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
<script src="../assets/js/firebaseconfig.js"></script>
<script src="../assets/js/main.js"></script>
{{/inline}} {{/layouts/base}}