{{!-- pages/index.hbs --}}

{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

  {{#*inline "content-block"}}
    <div class="fb-grid__container fields_container">
      <div class="fb-grid__row fields">
          <div class="fb-grid__col-12">
              <h1>Multimediaproductie</h1>
              <p>Zijn Internet of Things, Big Data, Mixed Reality, videostreaming en Smart Assistants voor jou nu al passé? Werk mee aan de hype van morgen en ontwikkel bij ons de skills voor de toekomst!</p>
              <p>Studenten multimediaproductie beperken zich niet enkel tot het design maar gebruiken de laatste nieuwe technologie om hun creatieve ontwerpen uit te werken tot een kant-en-klaar digitaal eindproduct.
Na een doorgedreven algemene grafische en multimediale basisopleiding in het eerste jaar kies je in het tweede jaar meteen voor een keuzetraject. Audiovisual Design als je audio, video, motion graphics en 3D-animatie wil realiseren of New Media Development als je de nadruk wil leggen op coderen, programmeren en apps ontwikkelen.</p>
              <h5>Audiovisual Design</h5>
              <p>Studenten Audiovisual Design houden van audiovisuele producties. Ze gaan aan de slag met videocamera’s, motion graphics, 3D-animatie en visuele effecten om hun creativiteit uit te drukken. Ze publiceren hun realisaties online via streaming of op fysieke dragers, maar draaien er ook hun hand niet voor om, om er een bijhorende professionele website voor te maken. Ga aan de slag als creatief talent in een reclamebureau of een audiovisueel productiehuis; of als multimedia-ontwerper of grafisch ontwerper.</p>
                 <h5>New media development</h5>
<p>Studenten New Media Development houden van grafisch werk, maar zijn gepassioneerd door code. Ze ontwerpen verbluffende digitale gebruikersbelevingen en werken die volledig uit met code, de laatste nieuwe trendy programmeerframeworks en automatisatietools tot datagestuurde applicaties voor web en/of mobiel.
Met hun aandacht voor vormgeving en gebruiksvriendelijkheid aangevuld met een brede IT-kennis en software engineering skills zijn ze de ideale brugfiguren tussen de creatievelingen en de klassieke I(C)T’ers.
Ga aan de slag als webdeveloper, front-end developer, full-stack developer, cms developer, app designer, multimedia-ontwerper …</p>
          </div>
          <div class="fb-grid__row alumni">
            <div class="fb-grid__col-12">
            <h1>Alumni</h1>
            </div>
          <div class="fb-grid__col-lg-6">
            <img src="assets/images/getuigenissen/mmp/cedricvanderkelen.jpg" class="alumnimg">
          </div>
          <div class="fb-grid__col-lg-4">
            <p>Cedric Van Der Kelen</p>
            <p>Oud-student multimediaproductie <br> Keuzetraject Audiovisual Design</p>
            <p class="quote">“Vergeet de examenstress! Kom naar hier om écht iets bij te leren!”</p>

          </div>
          <hr>
          
          <div class="fb-grid__col-lg-6">
            <img src="assets/images/getuigenissen/mmp/evelien_interviewa.jpg" class="alumnimg">
          </div>
          <div class="fb-grid__col-lg-4">
            <p>Evelien Rutsaert</p>
            <p>Oud-student multimediaproductie <br> Keuzetraject Audiovisual Design</p>
            <p class="quote">“Lifelong learning is een absolute must!”</p>
          </div>
          </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
  <script src="../assets/js/firebaseconfig.js"></script>
  <script src="../assets/js/main.js"></script>
  {{/inline}}

{{/layouts/base}}
