{{!-- pages/index.hbs --}}

{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

  {{#*inline "content-block"}}
  
    <div class="fb-grid__container detail" id="container">
      <div class="fb-grid__row projectDetailContainer" id="detail">
          <div class="container">
        
          </div>
      </div>
    </div>
    <div id="fb-root"></div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
  <script src="../assets/js/firebaseconfig.js"></script>
  <script src="../assets/js/facebookconfig.js"></script>
  <script src="../assets/js/twitterconfig.js"></script>
  <script src="../assets/js/main.js"></script>
  <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
  {{/inline}}

{{/layouts/base}}
