/// Primary color
/// @group variables
/// @access public
/// @type Color
$primary-color: #223740;

/// text color
/// @group variables
/// @access public
/// @type Color
$text-color: #476674;

/// button color
/// @group variables
/// @access public
/// @type Color
$button-color_green: #7ca2a6;
$button-color_blue: #455e88;

/// background color
/// @group variables
/// @access public
/// @type Color
$background-color: #f0f0f0;

/// container color
/// @group variables
/// @access public
/// @type Color
$container-color: #fff;
